<template>
  <v-col v-editable="blok" xs="12" :sm="smSize" :md="mdSize" :lg="lgSize">
    <v-card
      v-if="blok.link.cached_url"
      class="page--feature elevation-7"
      nuxt
      :to="blok.link.cached_url"
      :title="blok.text"
    >
      <v-img v-if="blok.image" height="150px" :src="resizedImage" :lazy-src="resizedImage" />
      <v-card-title class="justify-center">
        <div>{{ blok.text }}</div>
      </v-card-title>
    </v-card>

    <v-card v-else class="page--feature elevation-7">
      <v-img v-if="blok.image" height="150px" :src="resizedImage">
        <template v-slot:placeholder>
          <v-row class="fill-height ma-0" align="center" justify="center">
            <v-progress-circular indeterminate color="primary" />
          </v-row>
        </template>
      </v-img>
      <v-card-title class="justify-center">
        <div>{{ blok.text }}</div>
      </v-card-title>
    </v-card>
  </v-col>
</template>

<script>
import GridSizes from '~/mixins/GridSizes.js'

export default {
  mixins: [GridSizes],
  props: {
    blok: {
      type: Object,
      required: true
    }
  },
  computed: {
    resizedImage () {
      if (typeof this.blok.image !== 'undefined') {
        return 'https://img2.storyblok.com/300x150/filters:format(jpg):quality(70)' +
          this.blok.image
            .replace('//a.storyblok.com', '')
            .replace('https:', '')
      }
      return undefined
    }
  }
}
</script>
