<template>
  <v-col v-editable="blok" cols="12" :sm="smSize" :md="mdSize" :lg="lgSize">
    <header :class="{'text-xs-center': blok.center}">
      <h1 class="mb-2 primary--text page--title">
        {{ blok.title }}
      </h1>
      <p v-if="blok.subheading" class="page--subheading">
        {{ blok.subheading }}
      </p>
    </header>
  </v-col>
</template>

<script>
import GridSizes from '~/mixins/GridSizes.js'

export default {
  mixins: [GridSizes],
  props: {
    blok: {
      type: Object,
      required: true
    }
  }
}
</script>

<style lang="scss">
@import "~vuetify/src/styles/styles.sass";

.page--title {
  font-size: map-deep-get($headings, "h4", "size");
  font-weight: map-deep-get($headings, "h4", "weight");

  @media #{map-get($display-breakpoints, 'sm-and-up')} {
    font-size: map-deep-get($headings, "h3", "size");
    font-weight: map-deep-get($headings, "h3", "weight");
  }

  @media #{map-get($display-breakpoints, 'md-and-up')} {
    font-size: map-deep-get($headings, "h2", "size");
    font-weight: map-deep-get($headings, "h2", "weight");
  }
}

.page--subheading {
  font-size: map-deep-get($headings, "h6", "size");
  font-weight: map-deep-get($headings, "h6", "weight");
  color: map-get($grey, "base");

  @media #{map-get($display-breakpoints, 'sm-and-up')} {
    font-size: map-deep-get($headings, "h5", "size");
    font-weight: map-deep-get($headings, "h5", "weight");
  }

  @media #{map-get($display-breakpoints, 'md-and-up')} {
    font-size: map-deep-get($headings, "h4", "size");
    font-weight: map-deep-get($headings, "h4", "weight");
  }
}
</style>
