<template>
  <v-carousel-item :src="resizedImage" :lazy-src="resizedImage" :srcset="srcset" />
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      required: true
    }
  },
  computed: {
    srcset (image) {
      if (typeof this.item.src !== 'undefined' && this.item.image_size) {
        return (
          `https://img2.storyblok.com/${this.item.image_size}/filters:format(jpeg):quality(${this.item.image_quality})` +
          this.item.src.replace('//a.storyblok.com', '').replace('https:', '') +
          ' 1264w, ' +
          `https://img2.storyblok.com/960x960/filters:format(jpeg):quality(${this.item.image_quality})` +
          this.item.src.replace('//a.storyblok.com', '').replace('https:', '') +
          ' 960w, ' +
          `https://img2.storyblok.com/600x600/filters:format(jpeg):quality(${this.item.image_quality})` +
          this.item.src.replace('//a.storyblok.com', '').replace('https:', '') +
          ' 600w, '
        )
      }
      return undefined
    },
    resizedImage (image) {
      if (typeof this.item.src !== 'undefined') {
        return (
            `https://img2.storyblok.com/${this.item.image_size}/filters:format(jpeg):quality(${this.item.image_quality})` +
            this.item.src
              .replace('//a.storyblok.com', '')
              .replace('https:', '')
        )
      }
      return undefined
    }
  }
}
</script>
