<template>
  <v-col cols="12" :sm="smSize" :md="mdSize" :lg="lgSize">
    <v-carousel height="60vh" :cycle="blok.cycle" :hide-delimiters="!blok.delimiters">
      <page-carousel-item v-for="(item,i) in blok.carousel_items" :key="i" :item="item" />
    </v-carousel>
  </v-col>
</template>

<script>
import PageCarouselItem from './ThePageCarouselItem'
import GridSizes from '~/mixins/GridSizes.js'

export default {
  components: {
    PageCarouselItem
  },
  mixins: [GridSizes],
  props: {
    blok: {
      type: Object,
      required: true
    }
  }
}
</script>
