<template>
  <v-fab-transition>
    <v-btn
      v-show="backToTopFab"
      v-scroll="onScroll"
      fab
      fixed
      color="primary"
      bottom
      right
      @click="$vuetify.goTo('#app', { offset: 0 })"
    >
      <v-icon>mdi mdi-chevron-up</v-icon>
    </v-btn>
  </v-fab-transition>
</template>

<script>
export default {
  data () {
    return {
      backToTopFab: false
    }
  },
  methods: {
    onScroll () {
      this.backToTopFab = window.pageYOffset > 400
    }
  }
}
</script>
