<template>
  <v-navigation-drawer v-model="drawer" app disable-resize-watcher>
    <v-list>
      <v-list-item>
        <v-list-item-title class="title">
          Navigation
        </v-list-item-title>
      </v-list-item>
    </v-list>

    <v-divider />

    <v-list flat>
      <template v-for="(item, i) in links">
        <v-list-item v-if="!item.children" :key="i" :to="item.link" nuxt>
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>

        <v-list-group
          v-else
          :key="i"
          v-model="item.active"
          :prepend-icon="item.icon"
          no-action
          color="primary"
        >
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item-content>
          </template>

          <v-list-item
            v-for="(subItem, j) in item.children"
            :key="j"
            nuxt
            :to="subItem.link"
          >
            <v-list-item-title>{{ subItem.title }}</v-list-item-title>
          </v-list-item>
        </v-list-group>
      </template>
    </v-list>

    <template v-slot:append>
      <v-row class="justify-center pa-4">
        <template v-for="(link, index) in socialMedia.list">
          <v-btn
            v-if="link.active"
            :key="index"
            class="mx-2"
            icon
            :href="link.link.cached_url"
            :title="link.title"
            rel="noopener"
            target="_blank"
          >
            <v-icon size="28px">
              {{ link.icon }}
            </v-icon>
          </v-btn>
        </template>
      </v-row>
    </template>
  </v-navigation-drawer>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
import navigation from '~/navigation'

export default {
  data () {
    return {
      links: navigation.mainNavigation
    }
  },
  computed: {
    ...mapState({
      settings: state => state.settings.settings
    }),
    drawer: {
      get () {
        return this.$store.state.ui.drawer
      },
      set (value) {
        this.setDrawer(value)
      }
    },
    socialMedia () {
      return this.settings.body.find((item) => {
        return item.component === 'social-media-group'
      })
    }
  },
  methods: {
    ...mapMutations({
      setDrawer: 'ui/setDrawer'
    })
  }
}
</script>

<style lang="scss" scoped>
.social-link {
  text-decoration: none;
}
</style>
