<template>
  <article>
    <v-card
      class="post-preview"
      :title="`Read more about ${blogPost.content.title}`"
      nuxt
      :to="`/${blogPost.full_slug}`"
    >
      <v-img
        v-if="blogPost.content.image"
        class="white--text"
        height="150px"
        :src="resizedImage"
        :lazy-src="resizedImage"
        gradient="to top, rgba(25,25,25,.25), rgba(25,25,25,.25)"
      >
        <v-container fill-height fluid>
          <v-row fill-height>
            <v-col cols="12" class="align-center">
              <header>
                <span class="headline">{{ blogPost.content.title }}</span>
              </header>
            </v-col>
          </v-row>
        </v-container>
      </v-img>
      <v-card-text>
        <div>{{ date }}</div>
        <div>{{ blogPost.content.description }}</div>
      </v-card-text>
    </v-card>
  </article>
</template>

<script>
import { format, parseISO } from 'date-fns'
import { de } from 'date-fns/locale'

export default {
  props: {
    blogPost: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      menu: false
    }
  },
  computed: {
    date () {
      const parsed = parseISO(this.blogPost.created_at)
      return format(parsed, 'd MMMM yyyy', { locale: de })
    },
    resizedImage (image) {
      if (typeof this.blogPost.content.image !== 'undefined') {
        return (
          'https://img2.storyblok.com/450x150/filters:format(jpeg):quality(70)' +
          this.blogPost.content.image.replace('//a.storyblok.com', '').replace('https:', '')
        )
      }
      return undefined
    }
  }
}
</script>
