<template>
  <section :class="{'section-background': blok.background_color, 'section-spacing': blok.section_spacing}">
    <v-lazy min-height="150">
      <v-container :fluid="blok.full_width">
        <v-row
          v-editable="blok"
          class="component--grid"
          :class="{'align-center': blok.align_center}"
          :no-gutters="!blok.gutter"
        >
          <component :is="blok.component" v-for="blok in blok.body" :key="blok._uid" :blok="blok" />
        </v-row>
      </v-container>
    </v-lazy>
  </section>
</template>

<script>
export default {
  props: {
    blok: {
      type: Object,
      required: true
    }
  }
}
</script>

<style lang="scss">
@import "~vuetify/src/styles/styles.sass";

.section-background {
  .theme--light & {
    background-color: map-get($grey, "lighten-4");
  }

  .theme--dark & {
    background-color: map-get($grey, "darken-4");
  }
}

.section-spacing {
  padding: 40px 0;

  @media #{map-get($display-breakpoints, 'md-and-up')} {
    padding: 80px 0;
  }
}

</style>
