<template>
  <v-app-bar fixed hide-on-scroll app>
    <v-toolbar-title>
      <nuxt-link to="/" title="Startseite" aria-label="Zur Startseite" class="d-flex align-center">
        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle
            cx="24"
            cy="24"
            r="22.5"
            fill="#00101E"
            stroke="#F5F5F5"
            stroke-width="3"
          />
          <g clip-path="url(#clip0)">
            <path d="M15.3139 11.9762C12.7908 11.9762 10.5669 13.2769 9.27376 15.2418H6.20582C5.78623 15.2418 5.44592 15.5821 5.44592 16.0017C5.44592 16.4213 5.78623 16.7616 6.20582 16.7616H8.51248C8.23777 17.5247 8.08706 18.3465 8.08706 19.2029C8.08706 23.1878 11.329 26.4298 15.3139 26.4298C19.2988 26.4298 22.5408 23.1878 22.5408 19.2029C22.5408 15.218 19.2988 11.9762 15.3139 11.9762ZM15.3139 24.91C12.1671 24.91 9.60685 22.3498 9.60685 19.2029C9.60685 16.0561 12.1671 13.4959 15.3139 13.4959C18.4608 13.4959 21.021 16.0561 21.021 19.2029C21.021 22.3498 18.4608 24.91 15.3139 24.91Z" fill="#F5F5F5" />
            <path d="M41.8254 15.2418H38.3995C38.0328 14.6828 37.5887 14.172 37.0748 13.7288C35.7646 12.5986 34.089 11.9762 32.3567 11.9762C29.769 11.9762 27.4958 13.3441 26.2191 15.3939C25.6649 14.6853 24.8028 14.2285 23.8354 14.2285C23.3286 14.2285 22.8268 14.3566 22.3844 14.5986C22.0162 14.8001 21.8811 15.2619 22.0826 15.6301C22.284 15.9982 22.7457 16.1332 23.114 15.932C23.3365 15.8101 23.5792 15.7484 23.8354 15.7484C24.6657 15.7484 25.3413 16.424 25.3413 17.2543C25.3413 17.306 25.3466 17.3565 25.3563 17.4054C25.2085 17.9804 25.1299 18.5827 25.1299 19.2032C25.1299 23.1881 28.3719 26.43 32.3567 26.43C35.3486 26.43 38.067 24.5495 39.1216 21.7508C39.2695 21.3581 39.0712 20.9198 38.6783 20.772C38.2857 20.6238 37.8472 20.8223 37.6993 21.2151C36.8666 23.4253 34.7196 24.9104 32.3567 24.9104C29.2099 24.9104 26.6497 22.3502 26.6497 19.2033C26.6497 16.0565 29.2099 13.4962 32.3567 13.4962C35.1846 13.4962 37.5554 15.52 37.9941 18.3083C38.0594 18.7228 38.4481 19.0059 38.863 18.9408C39.2775 18.8755 39.5607 18.4866 39.4956 18.0721C39.425 17.6235 39.3108 17.1853 39.1587 16.7619H41.8255C42.2451 16.7619 42.5854 16.4216 42.5854 16.002C42.5854 15.5824 42.2451 15.2418 41.8254 15.2418Z" fill="#F5F5F5" />
          </g>
          <g clip-path="url(#clip1)">
            <path d="M38.8506 29.2032C38.8426 29.0587 38.7771 28.9234 38.6685 28.8274C38.4399 28.6325 38.0964 28.6587 37.9 28.8859C35.508 31.658 33.8166 30.3244 31.9431 28.8428C30.5234 27.7186 29.0141 26.5235 27.0233 26.5235C26.3549 26.5198 25.6937 26.6607 25.085 26.9362C24.69 27.118 24.3264 27.3612 24.0079 27.657C23.6892 27.3624 23.3256 27.1201 22.9307 26.9393C22.322 26.6637 21.6608 26.5229 20.9924 26.5266C18.9924 26.5266 17.2176 27.734 15.5818 28.8459C15.0417 29.2155 14.5139 29.5728 14.0139 29.8593C12.5879 30.6755 11.3102 30.9188 10.1836 28.9876C10.0429 28.7232 9.71407 28.6226 9.44909 28.763C9.29353 28.8454 9.18767 28.998 9.16506 29.1724C9.0183 30.1278 9.04021 31.1014 9.22988 32.0492C9.4484 33.1615 10.0676 34.1553 10.9706 34.8429C11.855 35.4713 12.8876 35.8598 13.9676 35.9702C15.5876 36.143 17.2253 36.0388 18.8102 35.6622C19.9931 35.419 21.1359 35.0116 22.2054 34.4517C22.8762 34.0959 23.4849 33.6341 24.0079 33.0841C24.5298 33.6292 25.1364 34.0868 25.8042 34.4394C26.8736 34.9993 28.0165 35.4067 29.1993 35.6499C30.7843 36.0265 32.4219 36.1307 34.0419 35.9579C35.1219 35.8474 36.1545 35.459 37.0389 34.8306C37.943 34.144 38.5625 33.1497 38.7796 32.0369C38.9671 31.1035 38.9911 30.1448 38.8506 29.2032Z" fill="#F5F5F5" />
          </g>
          <defs>
            <clipPath id="clip0">
              <rect width="37.2348" height="14.5646" fill="white" transform="translate(5.44592 11.905)" />
            </clipPath>
            <clipPath id="clip1">
              <rect width="30.0158" height="9.62533" fill="white" transform="translate(8.99207 26.4697)" />
            </clipPath>
          </defs>
        </svg>

        <span v-if="site_name" class="ml-2">{{ site_name }}</span>
      </nuxt-link>
    </v-toolbar-title>

    <v-spacer />

    <v-toolbar-items class="hidden-sm-and-down">
      <template v-for="item in links">
        <v-btn v-if="!item.children" :key="item.title" text nuxt :to="item.link">
          <v-icon v-if="item.icon" left>
            {{ item.icon }}
          </v-icon>
          {{ item.title }}
        </v-btn>

        <v-menu v-else :key="item.title" offset-y open-on-hover transition="scroll-y-transition">
          <template v-slot:activator="{ on }">
            <v-btn text v-on="on">
              <v-icon left>
                {{ item.icon }}
              </v-icon>
              {{ item.title }}
            </v-btn>
          </template>
          <v-list>
            <v-list-item
              v-for="(subItem, index) in item.children"
              :key="index"
              nuxt
              :to="subItem.link"
              @click="() => {}"
            >
              <v-list-item-title>{{ subItem.title }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </template>
    </v-toolbar-items>

    <v-app-bar-nav-icon class="hidden-md-and-up" @click.stop="setDrawer(!drawer)" />
  </v-app-bar>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
import navigation from '~/navigation'

export default {
  data () {
    return {
      fixed: true,
      links: navigation.mainNavigation
    }
  },
  computed: {
    ...mapState({
      drawer: state => state.ui.drawer,
      settings: state => state.settings.settings
    }),
    logo () {
      return this.settings.logo
    },
    site_name () {
      return this.settings.site_name
    }
  },
  methods: {
    ...mapMutations({
      setDrawer: 'ui/setDrawer'
    })
  }
}
</script>

<style lang="scss">
.v-toolbar__title {
  a {
    &.nuxt-link-active {
      color: inherit;
      text-decoration: none;
    }
  }
}
</style>
