<template>
  <v-col
    v-editable="blok"
    cols="12"
    :sm="smSize"
    :md="mdSize"
    :lg="lgSize"
    :class="{'text-center': blok.center}"
  >
    <h2 :id="titleId" class="mb-2 mt-3 page--section-title">
      {{ blok.title }}
    </h2>
    <p v-if="blok.subheading" class="page--section-subheading">
      {{ blok.subheading }}
    </p>
  </v-col>
</template>

<script>
import GridSizes from '~/mixins/GridSizes.js'

export default {
  mixins: [GridSizes],
  props: {
    blok: {
      type: Object,
      required: true
    }
  },
  computed: {
    titleId () {
      return this.blok.title.replace(/ /g, '-')
    }
  }
}
</script>

<style lang="scss">
@import "~vuetify/src/styles/styles.sass";

.page--section-title {
  font-size: map-deep-get($headings, "h5", "size");
  font-weight: map-deep-get($headings, "h5", "weight");

  @media #{map-get($display-breakpoints, 'sm-and-up')} {
    font-size: map-deep-get($headings, "h3", "size");
    font-weight: map-deep-get($headings, "h3", "weight");
  }
}

.page--section-subheading {
  font-size: map-deep-get($headings, "h6", "size");
  font-weight: map-deep-get($headings, "h6", "weight");
  color: map-get($grey, "base");
}

</style>
