<template>
  <v-container :fluid="blok.full_width" :grid-list-xl="blok.gutter">
    <v-row v-editable="blok" class="component--grid" :class="{ 'align-center': blok.align_center}">
      <page-banner :blok="image" order-xs1 :class="imagePosition" />
      <page-text :blok="text" order-xs2 />
    </v-row>
  </v-container>
</template>

<script>
export default {
  props: {
    blok: {
      type: Object,
      required: true
    }
  },
  computed: {
    image () {
      return this.blok.body[0].body.find(
        item => item.component === 'page-banner'
      )
    },
    text () {
      return this.blok.body[0].body.find(
        item => item.component === 'page-text'
      )
    },
    imagePosition () {
      if (!this.blok.image_right) {
        return
      }

      if (this.image.small_size) {
        return 'order-sm-2'
      }

      return 'order-md-2'
    }
  }
}
</script>
