<template>
  <v-footer height="auto" class="transparent">
    <v-row>
      <!-- Social section -->
      <v-col cols="12">
        <v-card flat class="transparent">
          <v-card-text>
            <v-container grid-list-xs>
              <v-row class="align-center">
                <v-col v-if="email || phone" class="contact-data" cols="12" sm="8">
                  <div v-if="email" class="contact-item py-2">
                    <span v-if="email">
                      <v-icon class="mr-2" style="vertical-align: middle;">mdi-email</v-icon>
                      <a :href="'mailto:' + email">{{ email }}</a>
                    </span>
                  </div>
                  <div v-if="phone && country_code" class="contact-item py-2">
                    <span>
                      <v-icon class="mr-2" style="vertical-align: middle;">mdi-phone</v-icon>
                      <a :href="'tel:+' + country_code + phone.slice(1).replace(/\s/g, '')">{{ phone }}</a>
                    </span>
                  </div>
                </v-col>

                <v-spacer />

                <v-col v-if="socialMedia" cols="12" sm="4" class="text-center text-sm-right">
                  <template v-for="(link, index) in socialMedia.list">
                    <v-btn
                      v-if="link.active"
                      :key="index"
                      class="mx-2"
                      icon
                      :href="link.link.cached_url"
                      :title="link.title"
                      rel="noopener"
                      target="_blank"
                    >
                      <v-icon size="28px">
                        {{ link.icon }}
                      </v-icon>
                    </v-btn>
                  </template>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
        </v-card>
      </v-col>

      <v-col cols="12">
        <v-divider role="presentation" />
      </v-col>

      <!-- Links -->
      <v-col cols="12">
        <v-card flat class="transparent">
          <v-row>
            <v-col cols="12" class="text-center my-3">
              <v-btn
                v-for="link in links"
                :key="link.title"
                class="mx-2"
                text
                rounded
                nuxt
                :to="link.link"
                :title="link.title"
              >
                {{ link.title }}
              </v-btn>
            </v-col>
            <v-col cols="12" class="text-center py-3">
              <strong>
                Made with
                <v-icon color="red" size="28px">mdi-heart</v-icon>by
                <a
                  href="https://www.julianwendling.com/"
                  target="_blank"
                  title="Julian Wendling"
                  rel="noopener"
                >Julian Wendling</a>
              </strong>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </v-footer>
</template>

<script>
import { mapState } from 'vuex'

import navigation from '~/navigation'

export default {
  data: () => ({
    links: navigation.footer
  }),
  computed: {
    ...mapState({
      settings: state => state.settings.settings
    }),
    socialMedia () {
      return this.settings.body.find((item) => {
        return item.component === 'social-media-group'
      })
    },
    email () {
      return this.settings.email
    },
    phone () {
      return this.settings.phone
    },
    country_code () {
      return this.settings.country_code
    }
  }
}
</script>
