<template>
  <v-col v-editable="blok" cols="12" :sm="smSize" :md="mdSize" :lg="lgSize">
    <v-card flat tile>
      <iframe
        class="page--video"
        :src="videoUrl"
        frameborder="0"
        allow="autoplay; encrypted-media"
        allowfullscreen
      />
    </v-card>
  </v-col>
</template>

<script>
import GridSizes from '~/mixins/GridSizes.js'

export default {
  mixins: [GridSizes],
  props: {
    blok: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      visibleText: false
    }
  },
  computed: {
    videoUrl () {
      const youtubeString = this.blok.embeded_code.match(
        /(youtu\.be\/|youtube(-nocookie)?.com\/(v\/|e\/|.*u\/\w+\/|embed\/|.*v=))([\w-]{11})/g
      )
      const fullEmbedLink = `https://www.${youtubeString}`

      return fullEmbedLink
    }
  }
}
</script>

<style lang="scss">
.page--video {
  height: 60vh;
  width: 100%;
}
</style>
