<template>
  <v-snackbar
    v-model="snackbar"
    timeout="-1"
    light
    transition="scale-transition"
    vertical
  >
    <span>{{ text }}</span>
    <nuxt-link to="/datenschutz">
      mehr lesen
    </nuxt-link>

    <template v-slot:action="{ attrs }">
      <v-btn
        text
        v-bind="attrs"
        class="mr-2"
        @click="denyCookies()"
      >
        Ablehnen
      </v-btn>
      <v-btn
        color="primary"
        outlined
        v-bind="attrs"
        @click="acceptCookies()"
      >
        Ok
      </v-btn>
    </template>
  </v-snackbar>
</template>

<script>
import { mapState } from 'vuex'

export default {
  data: () => ({
    snackbar: true
  }),
  computed: {
    ...mapState({
      settings: state => state.settings.settings
    }),
    text () {
      return this.settings.cookie_msg
    }
  },
  created () {
    if (this.getGDPR() === 'true') {
      this.snackbar = false
    }
  },
  methods: {
    getGDPR () {
      if (process.browser) {
        return localStorage.getItem('GDPR:accepted')
      }
    },
    acceptCookies () {
      if (process.browser) {
        this.snackbar = false
        localStorage.setItem('GDPR:accepted', true)
        this.$ga.enable()
      }
    },
    denyCookies () {
      if (process.browser) {
        this.snackbar = false
        localStorage.setItem('GDPR:accepted', false)
        this.$ga.disable()
      }
    }
  }
}
</script>
