<template>
  <v-app dark>
    <the-header />
    <the-drawer />
    <the-button-back-to-top />

    <v-main>
      <nuxt />
    </v-main>

    <the-footer />
    <client-only>
      <the-cookie-toast />
    </client-only>
  </v-app>
</template>

<script>
import TheHeader from '~/components/TheHeader/TheHeader'
// import TheDrawer from '~/components/TheDrawer/TheDrawer'
// import TheFooter from '~/components/TheFooter/TheFooter'
// import TheCookieToast from '~/components/TheCookieToast/TheCookieToast'
// import TheButtonBackToTop from '~/components/TheButtonBackToTop/TheButtonBackToTop'

export default {
  components: {
    TheHeader,
    TheDrawer: () => import('~/components/TheDrawer/TheDrawer'),
    TheFooter: () => import('~/components/TheFooter/TheFooter'),
    TheButtonBackToTop: () => import('~/components/TheButtonBackToTop/TheButtonBackToTop'),
    TheCookieToast: () => import('~/components/TheCookieToast/TheCookieToast')
  },
  data () {
    return {
      title: 'Vuetify.js'
    }
  }
}
</script>
