<template>
  <div>
    <component
      :is="blok.component"
      v-for="blok in story.content.body"
      :key="blok._uid"
      :blok="blok"
    />
  </div>
</template>

<script>
import StoryblokBridge from '~/mixins/StoryblokBridge.js'

export default {
  mixins: [StoryblokBridge],
  asyncData (context) {
    return context.app.$storyapi
      .get(`cdn/stories/blog/${context.params.slug}`, {
        version: context.isDev ? 'draft' : 'published',
        cv: context.store.state.settings.cacheVersion
      })
      .then((res) => {
        return res.data
      })
  },
  data () {
    return {
      menu: false,
      baseLink: process.env.HREF_ORIGIN
    }
  },
  head () {
    return {
      title: `${this.story.content.title}`
    }
  }
}
</script>
