<template>
  <v-container grid-list-xl>
    <v-row>
      <page-title :blok="{title: 'Blog'}" />

      <v-col
        v-for="blogPost in blogPosts"
        :key="blogPost.id"
        cols="12"
        sm="6"
        md="4"
      >
        <post-preview :blog-post="blogPost" />
      </v-col>

      <v-col v-if="blogPosts.length" cols="12" class="text-center">
        <v-pagination v-model="currentPage" :length="pagination" @input="setPage" />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
const itemsPerPage = 3

export default {
  components: {
    PostPreview: () => import('~/components/Storyblok/ThePostPreview/ThePostPreview')
  },
  asyncData (context) {
    return context.app.$storyapi
      .get('cdn/stories', {
        version: context.isDev ? 'draft' : 'published',
        cv: context.store.state.settings.cacheVersion,
        starts_with: 'blog/',
        per_page: itemsPerPage,
        page: context.route.query.page || 1
      })
      .then((res) => {
        return {
          blogPosts: res.data.stories,
          totalEntries: res.total,
          entriesPerPage: res.perPage
        }
      })
  },
  computed: {
    pagination () {
      return parseInt(Math.ceil(this.totalEntries / this.entriesPerPage))
    },
    currentPage: {
      get () {
        if (!this.$route.query.page) {
          return 1
        }
        return parseInt(this.$route.query.page)
      },
      set (value) {}
    }
  },
  methods: {
    setPage (value) {
      this.$storyapi
        .get('cdn/stories', {
          version: process.env.NODE_ENV === 'production' ? 'published' : 'draft',
          starts_with: 'blog/',
          per_page: itemsPerPage,
          page: value
        })
        .then((res) => {
          this.$nuxt.$router.push({
            path: '/blog',
            query: { page: value }
          })
          this.blogPosts = res.data.stories
          return res.data.stories
        })
    }
  },
  head () {
    return {
      title: 'Blog',
      meta: [{ hid: 'og:type', property: 'og:type', content: 'article' }]
    }
  }
}
</script>
