<template>
  <component
    :is="story.content.component"
    v-if="story.content.component"
    :key="story.content._uid"
    :blok="story.content"
  />
</template>

<script>
import StoryblokBridge from '~/mixins/StoryblokBridge.js'

export default {
  mixins: [StoryblokBridge],
  asyncData (context) {
    return context.app.$storyapi
      .get('cdn/stories/datenschutz', {
        version: context.isDev ? 'draft' : 'published',
        cv: context.store.state.settings.cacheVersion
      })
      .then((res) => {
        return res.data
      })
  },
  head () {
    return {
      title: 'Datenschutz'
    }
  }
}
</script>
