<template>
  <v-col
    v-editable="blok"
    :sm="smSize"
    :md="mdSize"
    :lg="lgSize"
    :class="{'pa-0': blok.remove_padding}"
  >
    <v-card flat tile nuxt :to="blok.link.cached_url">
      <v-img
        :height="imageHeight"
        :srcset="srcset(blok)"
        :src="resizedImage(blok)"
        :lazy-src="lazyImage(blok)"
        @load="showText"
      >
        <v-row
          v-if="blok.text && visibleText"
          justify="center"
          align="center"
          class="pa-2 lightbox white--text bottom-gradient fill-height"
        >
          <v-col class="page--banner--text">
            <div class="page--banner--heading">
              {{ blok.text }}
            </div>
            <div class="page--banner-subheading">
              {{ blok.subtext }}
            </div>
          </v-col>
        </v-row>
      </v-img>
      <div v-if="blok.note" class="page--banner-note px-4 mt-2">
        {{ blok.note }}
      </div>
    </v-card>
  </v-col>
</template>

<script>
import GridSizes from '~/mixins/GridSizes.js'

export default {
  mixins: [GridSizes],
  props: {
    blok: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      visibleText: false
    }
  },
  computed: {
    imageHeight () {
      return this.$vuetify.breakpoint.smAndDown &
        (parseInt(this.blok.image_height) >= 50)
        ? this.blok.image_height / 1.5 + 'vh'
        : this.blok.image_height + 'vh'
    }
  },
  methods: {
    showText () {
      this.visibleText = true
    },

    srcset (image) {
      if (typeof image.src !== 'undefined' && image.image_size) {
        return (
          `https://img2.storyblok.com/${image.image_size}/filters:format(jpeg):quality(${image.image_quality})` +
          image.src.replace('//a.storyblok.com', '').replace('https:', '') +
          ' 1264w, ' +
          `https://img2.storyblok.com/960x960/filters:format(jpeg):quality(${image.image_quality})` +
          image.src.replace('//a.storyblok.com', '').replace('https:', '') +
          ' 960w, ' +
          `https://img2.storyblok.com/600x600/filters:format(jpeg):quality(${image.image_quality})` +
          image.src.replace('//a.storyblok.com', '').replace('https:', '') +
          ' 600w, '
        )
      }
      return undefined
    },

    resizedImage (image) {
      if (typeof image.src !== 'undefined' && image.image_size) {
        return (
          `https://img2.storyblok.com/${image.image_size}/filters:format(jpeg):quality(${image.image_quality})` +
          image.src.replace('//a.storyblok.com', '').replace('https:', '')
        )
      }
      return undefined
    },

    lazyImage (image) {
      if (typeof image.src !== 'undefined') {
        return (
          `https://img2.storyblok.com/${image.image_size.split('x')[0] / 2}x${image.image_size.split('x')[1] / 2}/filters:format(jpeg):quality(20)` +
          image.src.replace('//a.storyblok.com', '').replace('https:', '')
        )
      }
      return undefined
    }
  }
}
</script>

<style lang="scss">
@import "~vuetify/src/styles/styles.sass";

.page--banner-note {
  color: map-get($grey, "base");
}

.page--banner--text {
  max-width: 75% !important;
  width: 100%;
  flex-shrink: 1;
  flex-grow: 0;
  text-align: center;
}

.page--banner--heading {
  font-size: map-deep-get($headings, "h4", "size");
  font-weight: map-deep-get($headings, "h4", "weight");

  @media #{map-get($display-breakpoints, 'md-and-up')} {
    font-size: map-deep-get($headings, "h2", "size");
    font-weight: map-deep-get($headings, "h2", "weight");
  }
}

.page--banner-subheading {
  font-size: map-deep-get($headings, "body-1", "size");
  font-weight: map-deep-get($headings, "body-1", "weight");

  @media #{map-get($display-breakpoints, 'md-and-up')} {
    font-size: map-deep-get($headings, "h5", "size");
    font-weight: map-deep-get($headings, "h5", "weight");
  }
}

.page--banner-full-width {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.bottom-gradient {
  background-image: linear-gradient(
    to top,
    rgba(25, 25, 25, 0.25),
    rgba(25, 25, 25, 0.25)
  );
}
</style>
