<template>
  <v-col
    v-editable="blok"
    cols="12"
    :sm="smSize"
    :md="mdSize"
    :lg="lgSize"
    class="page--text"
  >
    <div v-html="body" />
    <v-btn v-if="blok.show_button" color="primary" outlined nuxt :to="blok.button_link.cached_url">
      {{ blok.button_text }}
    </v-btn>
  </v-col>
</template>

<script>
import marked from 'marked'
import GridSizes from '~/mixins/GridSizes.js'

export default {
  mixins: [GridSizes],
  props: {
    blok: {
      type: Object,
      required: true
    }
  },
  computed: {
    body () {
      return marked(this.blok.content)
    }
  }
}
</script>

<style lang="scss">
@import "~vuetify/src/styles/styles.sass";

.page--text {
  font-size: map-deep-get($headings, "subtitle-1", "size");
}
</style>
